div {
  margin-top: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mt-30 {
  margin-top: 30px;
}

.hidden {
  display: none;
}

.text-success {
  color: #198754;
}

.successfully-saved {
  color: #1b7c18;
  border-radius: 5px;
  border: 2px solid #1b7c18;
  padding: 0.5em 0.75em;
  background: #d6f8dd;
  width: 25%;
  margin-top: 20px;
}

.text-input:invalid {
  border: red solid 3px;
}
